body {
    font-size: 1rem;
    color:#006b66;
    background-color:#dbe8e7;
}
p {color:hsl(11, 96%, 10%)}
a {color:#26061e}

nav {background-color:#fffd51}
nav a {color:#02182d}
nav a:hover {background-color:#ffffff}
nav {
    padding:10px;
    margin-bottom:30px
}
.evenrow th {color:#000000}
.evenrow {background-color: #ffc4c4}
.oddrow {background-color: #ffffff}

.skillstable table {margin:0 auto}
.skillsimage {text-align: center}
.skillstable, .skillsimage {flex-basis:50%}

.me {max-width: 100%;}

@media only screen and (max-width: 600px) {
    nav a {width:100%; display:block; padding:8px 0;}
    nav span {display:none;}
}
.skip {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
.skip:focus {
    position:static;
    width:auto;
    height:auto;
}